<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/bookstore/add_book" method="post">
        <table>
            <tr>
                <td>title: <input type="text" name = 'title'></td>
                <td>pub: <input type="text" name="pub"></td>
                <td>price: <input type="text" name="price"></td>
                <td>market_price: <input type="text" name="market_price"></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>